@import url('https://fonts.googleapis.com/css?family=Seymour%20One:700|Seymour%20One:400');

:root {
	--text: hsl(226, 79%, 5%);
	--background: hsl(225, 67%, 99%);
	--primary: hsl(221, 82%, 55%);
	--secondary: hsl(257, 81%, 73%);
	--accent: hsl(266, 81%, 62%);
	color: var(--color-text);
}

body {
	font-family: 'Seymour One';
	font-weight: 400;
}

a, a:visited {
	color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Seymour One';
	font-weight: 700;
}

html {
	font-size: 80%;
}

/* 16px */

h1 {
	font-size: 3.053rem;
	/* 48.8px */
}

h2 {
	font-size: 2.442rem;
	/* 39.04px */
}

h3 {
	font-size: 1.954rem;
	/* 31.2px */
}

h4 {
	font-size: 1.563rem;
	/* 24.96px */
}

h5 {
	font-size: 1.250rem;
	/* 20px */
}

small {
	font-size: 0.800rem;
	/* 12.8px */
}
